body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(19,80,91,1) 100%);
}
.header {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}


.links {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    text-align: center;
    width: 100%;
    background: rgb(215,217,206);
    background: linear-gradient(90deg, rgba(215,217,206,1) 0%, rgba(17,157,164,1) 100%);
}

#linkIndex {
    /* border: 10px solid #14213D; */
    flex-grow: 1;
}

#linkAbout {
    /* border: 10px solid #14213D; */
    flex-grow: 1;
}

#linkPortfolio {
    /* border: 10px solid #14213D; */
    flex-grow: 1;
}

.main {
    display: flex;
    color: white;
    font-size: 30px;
    /* text-align: center;
    margin: left;*/
    justify-content: center;
}

p {
    font-weight: bold;
    border: 2px solid black;
    text-align: center;
    padding: 8%;
    font-family: 'Rock Salt', cursive;
}

#sectionOne {
    display: flex;
    /* border: 2px solid black; */

}

#mypicture {
    width: 450px;
    height: 450px;
    justify-content: flex-end;   
    order: 2; 
}

#intro {
    /* border: 2px solid black; */
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    padding: 15px;
}


.endPage {
    color: #14213D;
    font-size: 20px;
    text-align: center;
    display: block;
    background: rgb(215,217,206);
    background: linear-gradient(90deg, rgba(215,217,206,1) 0%, rgba(17,157,164,1) 100%);

    
}

p {
    font-weight: bold;
    /* border: 2px solid black; */
}

.workexp {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    background: rgb(215,217,206);
    background: linear-gradient(90deg, rgba(215,217,206,1) 0%, rgba(17,157,164,1) 100%);

    padding: auto;
    margin: auto;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

div {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    background: rgb(215,217,206);
    background: linear-gradient(90deg, rgba(215,217,206,1) 0%, rgba(17,157,164,1) 100%);
    padding: auto;
    margin: auto;
    text-align: center;
        
}
